*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{

    height: 100%;
	width: 100%;
	background-image: url(images/b.jpg);
	background-position: center;
	background-size: cover;
	position:absolute;
}
.navbar
{
    background-color: #494b4d;
    width: 100%;
    height: 20%;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: #fcf14e;
}
nav ul li a:hover
{
    color: #fcf14e;
}
a
{
    text-decoration: none;
    color: #FF8C00;
    font-size: 28px;
}


section
{
    font-family: 'sans-serif';
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;

}

section .content
{
    font-family: 'sans-serif';
    font-size: 50px;
    width: 580px;
    margin: 0 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
section .content .search
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .content .search .query
{
    width:100%;
    padding:10px;
    border: 1px solid #303331;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 45px;
    padding-right: 60px;
}
.searchBtn
{
    font-size: 20px;
    margin: 0 5px;
    margin-top: 20px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
}
.searchBtn:hover
{
    background-color:#fcf14e;
    border: 1px solid #303331;
}





.footer
{
position:absolute;
top:90%;
width:100%;
  padding:50px;
  background:#333;
}

.footer .box-container
{
  display: flex;
  flex-wrap: wrap;
  gap:24px;
}

.footer .box-container .box
{
  padding:10px;
  flex:15 15 15 250 px;
}

.footer .box-container .box h3
{
  font-size: 30px;
  padding:20px;
  color:#FF8C00;
}

.footer .box-container .box p
{
  font-size: 20px;
  padding: 30px;
  color:#eee;
}

.footer .box-container .box a
{
  display: block;
  font-size: 20px;
  padding: 10px ;
  color:#eee;
}

.footer .box-container .box a:hover
{
  color:  #fcf14e;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:30px 15px;
  margin-top: 2%;
  font-size: 20px;
  font-weight: normal;
  color:#fff;
  border-top: 3px solid grey;
}

.footer .credit span{
  color:#FF8C00;
}


.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 400px;
  background: white;
  border-radius: 10px;
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .text{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.text input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}



.pass{
  margin: -5px 0 20px 5px;
  padding-bottom:10px;
  color: red;
  cursor: pointer;
}
.pass:hover{
  color:#2691d9;
}
.submit{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.submit:hover{
  background-color: #fafc5b;
  color:black;
  transition: .5s;
}
.signup{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup a{
  color: #2691d9;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}


.logo
{

    height: 100%;
	width: 100%;
	background-image: url(images/c.jpg);
	background-position: center;
	background-size: cover;
	position:absolute;
}

